@import "tailwindcss";

:root {
  --col-width: 230px;
  --col-amount: 4;
}

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #232323;
  --color-gray: #F4F4F4;
  --color-dark-gray:#7E7E7E;
  --color-green: #30A65F;

  --breakpoint-mobile-lg: 640px;
  --breakpoint-sm: 1280px;
  --breakpoint-md: 1440px;
  --breakpoint-lg: 1920px;

  --radius-d: 10px;
}

@layer utilities {
  .body-width {
    width: calc(var(--col-amount) * var(--col-width) + (var(--col-amount) - 1) * 20px);
  }
  .aside-width {
    width: calc(var(--col-width) + (100vw - (var(--col-amount) * var(--col-width) + (var(--col-amount) - 1) * 20px)) / 2);
  }
}

h1 {
  font-size: 48px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  line-height: 1.0;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.regular {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  word-break: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@media (min-width: 1440px) {
  :root {
    --col-amount: 6; 
    --col-width: 200px;
  }
}

@media (min-width: 1920px) {
  :root {
    --col-amount: 7; 
  }
}